# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\boris\Programming\Faculty Programming Exercises\intelliJ-workspace(Spring+React)\EMT_Laboratoriski\frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
